@model IEnumerable<Projekt_strona.Models.Customer>

@{
    ViewData["Title"] = "Lista klientów";
}

<h2>Lista klientów</h2>

<table class="table">
    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Telefon</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.PhoneNumber</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@customer.Id" class="btn btn-primary">Edytuj</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-success">Dodaj nowego klienta</a>
